body {
    background-color:gray;
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color:lawngreen;

}

h2 {
    font-size: 30px;
    color:cornflowerblue;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

}

/* added line height so the paragraph doesn't look too congested */
.main p {
    width: 300px;
    font-size: 30px;
    line-height: normal;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    text-align: center;
}

/* when you hover over buttons it turns cyan */
button:hover {
    background-color:cyan;
}

#final-screen p {
    font-size: 30px;
}

#initials {
    margin-bottom: 30px;
}

/* timer color */
.time,
#timer {
    color: coral;
    font-size: 20px;
    font-weight: bolder;
}

.hidden {
    display: none;
}

#new-question {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(40, 196, 45);
    margin-bottom: 10px;
}

button,
.option {
    background-color: whitesmoke;
    color: rgb(226, 144, 144);
    padding: 10px 10px;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
}

.option {
    display: block;
    margin-bottom: 10px;
}

.grade {
    font-size: 20px;
    font-weight: bold;
    color: aqua;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:chartreuse
}

a:hover {
    color: aqua;
}