body {
    background-color:gray;
    color: white;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color:lawngreen;

}

h2 {
    font-size: 20px;
    color:cornflowerblue;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;

}

/* added line height so the paragraph doesn't look too congested */
.main p {
    width: 300px;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

/* when you hover over buttons it turns green */
button:hover {
    background-color:cyan;
}

#final-screen p {
    font-size: 20px;
}

#initials {
    margin-bottom: 10px;
}

.time,
#timer {
    color: coral;
    font-size: 20px;
}

.hidden {
    display: none;
}

#new-question {
    font-size: 30px;
    color: red;
    margin-bottom: 10px;
}

button,
.option {
    background-color: whitesmoke;
    color: red;
    padding: 10px 10px;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 15px;
    cursor: pointer;
}